hr.hr-2 {
    height: 2px;
}

hr {

    color: #123455;

}

.logout-button {
    background: transparent;
    border: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 1) !important;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:focus {
    outline: none;
}

img.img-thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    max-height: 100px;
}

.btn-width {
    width: 120px;
    margin: 5px;
}

.btn-width-categories {
    width: 80px;
    margin: 3px;
}

.btn-width-products {
    width: 80px;
    margin: 2px;
}

